<h3 class="mt-3">
    El que al mundo vino y no toma vino,
    <small class="text-muted">¿A qué vino?</small>
  </h3>
<%= render 'form', oenologist: @oenologist %>


<%= link_to 'Atrás', oenologists_path %>
